
@{
    ViewBag.Title = "Iinside_the_macallannside";
}

@section CSS
{
    <link href="~/Assets/css/aboutme.css" rel="stylesheet" />
}

<body>

    <div class="jumbotron  about_img">
        <div class="img_text justify-content-start content">
            <p class="img_text_title">
                —  &nbsp;  Inside The Macallan  &nbsp; —
            </p>
            <h2 class="img_text_h2">
                NESSTLED ABOVE THE RIVER SPEY
            </h2>
            <p class="img_text_content">
                An obsession with quality has been the hallmark of The Macallan since its founding by Alexander Reid on a plateau above the river Spey in north-east Scotland. The distillery is surrounded by a 485 acre estate with Easter Elchies House at its heart.
            </p>
        </div>
    </div>
    <!---FUND IN 1824-->
    <div class="container_block">
        <div class="jumbotron jumbotron-fluid  mb-0">
            <div class="text-center bg-white content_gray">
                <div class="container_text_white">
                    <p class="ontainer_text_title">– &nbsp; Deep Root &nbsp;–</p>
                    <h3 class="container_text_header">FOUNDED IN 1824</h3>

                    <p class="container_text_content">
                        The Macallan was one of the first distillers in Scotland to be legally licensed. Since then we have built a reputation as one of the world’s leading single malt whiskies. The creation of The Macallan draws on the vital contributing influences of Spain, North America and Scotland - and of their respective natural raw materials, combined with traditional methods and craftsmanship.
                    </p>
                </div>

            </div>
        </div>

    </div>
    <!--   Rich Legacy-->
    <div class="container_block">
        <div class="row ">
            <div class="col-md-6">
                <div class="img_block">
                </div>
            </div>
            <div class="text_block ">
                <p class="ontainer_text_title">
                    – &nbsp;
                    Rich Legacy &nbsp;–
                </p>
                <h3 class="container_text_header">
                    “Maghellan”
                </h3>
                <p class="container_text_content">

                    The Macallan distillery was founded by Alexander Reid, a barley farmer and school teacher. The original name of the area was “Maghellan”, taken from the Gallic word “magh”, meaning fertile ground and “Ellan”, from the Monk St.Fillan - who held a close association with the church that stood in the grounds of The Macallan Estate until 1400. Farmers had been making whisky on their Speyside farms in the area for centuries, using their surplus barley during the quieter winter months.
                </p>
            </div>


        </div>
    </div>

    <!-- Strong Foundations -->
    <div class="container_block">
        <div class="container_img">
            <div class=" content center_content">
                <p class="img_text_title">
                    —  &nbsp;
                    Strong Foundations  &nbsp; —
                </p>
                <h2 class="img_text_h2">

                    The Six Pillars
                </h2>
                <p class="img_text_content">

                    The reputation of The Macallan is built on a product of outstanding quality and distinctive character, founded upon a set of guiding principles. From place to process, people and passion, the Six Pillars are the backdrop to The Macallan's unique spirit.
                </p>
            </div>
        </div>


    </div>

    <!--  Defining Character-->
    <div class="container_block">
        <div class="row">
            <div class="col-md-6">
                <div class="text_block_2">
                    <p class="ontainer_text_title">
                        – &nbsp;
                        Defining Character &nbsp;–
                    </p>
                    <h3 class="container_text_header">
                        The Mastery Of Wood And Spirit
                    </h3>
                    <p class="container_text_content">
                        Our reputation for the extraordinary is characterised by the exceptional oak casks for which The Macallan is renowned. Sourced, crafted, toasted and seasoned under the watchful eye of The Macallan Master of Wood, the hand-picked casks are delivered to the demanding specifications of The Macallan Master Distiller and his team. For every Macallan expression, the quality of the whisky is largely dependent on the quality of the oak casks it is matured in, as well as the quality of our 'new make' spirit distilled from water, yeast and barley. With up to 80% of The Macallan’s final character and flavour determined by cask quality, the oak cask is the most prominent factor in ensuring and delivering the quality and style of our single malt.
                    </p>
                </div>
            </div>

            <div class="img_block_2">

            </div>
        </div>
    </div>

    <!--    Unmatched Quality-->
    <div class="container_block">
        <div class="row ">
            <div class="col-md-6">
                <div class="img_block_3">
                </div>
            </div>
            <div class="text_block ">
                <p class="ontainer_text_title">
                    – &nbsp;
                    Unmatched Quality &nbsp;–
                </p>
                <h3 class="container_text_header">
                    Characterised By Colour
                </h3>
                <p class="container_text_content">
                    All of our whiskies take 100% of their colour from the wood in which they are matured. As wood is a natural product, each tree is different and in turn, imparts different flavours and colours to the whisky during maturation. The skill of the whisky makers ensures colour is as consistent as possible from bottling to bottling, through the management and selection of the casks which provide the spectrum of natural colour essential to The Macallan single malt.
                </p>
            </div>


        </div>
    </div>
    <!--    Acorn to Glass-->
    <div class="container_block">
        <div class="row">
            <div class="col-md-6">
                <div class="text_block">
                    <p class="ontainer_text_title">
                        – &nbsp;
                        Acorn to Glass &nbsp;–
                    </p>
                    <h3 class="container_text_header">
                        A Journey Of Time, Distance And Know-how
                    </h3>   <p class="container_text_content">
                        The Macallan works closely with fully integrated ‘tree to finished seasoned cask’ companies in Spain; to identify the oak trees in the forests of northern Spain, fell the trees, saw and air dry the oak staves before shipping them to the south for further air-drying to reduce the moisture even more. The casks are then seasoned for 18 months before making the journey to Scotland where they are filled with The Macallan ‘new make’ spirit.
                    </p>
                </div>
            </div>

            <div class="img_block_4">

            </div>
        </div>
    </div>

    <!--  The Macallan Estate-->
    <div class="container_block">
        <div class="container_img_2">
            <div class=" content center_content_2">
                <p class="img_text_title">
                    —  &nbsp;

                    The Macallan Estate  &nbsp; —
                </p>
                <h2 class="img_text_h2">


                    A Celebration Of Our Past, Present And Future
                </h2>
                <p class="img_text_content">


                    Our new Distillery and Visitor Experience is testament to the rich legacy of The Macallan, with a firm lens on our future.
                </p>
            </div>
        </div>


    </div>

    <div class="container_block">
        <div class="row">
            <div class="col-md-6">
                <div class="img_block_5 d-flex align-items-end">
                    <div class="img_block_text ">
                        <div class="img_block_title">
                            Discover More
                        </div>
                        <div class="img_block_head ">
                            Explore Our Single Malts
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="img_block_6 d-flex align-items-end">
                    <div class="img_block_text ">
                        <div class="img_block_title">
                            Fine and Rare
                        </div>
                        <div class="img_block_head ">
                            Journey Through Eras Past
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>




</body>
</html>
