html {
    background: #ffffd1; /*背景色*/
    font-size: 16px; /*字型大小*/
    /*font-family: sans-serif;*/ /*字型*/
    line-height: 1.4; /*行高*/
    /*color: #000;*/ /*顏色設定*/
    font-family: "Noto Sans TC", sans-serif;
}

body {
    margin: 0;
}

a {
    color: #000;
    text-decoration: none;
}

    a:hover {
        color: #a35554;
        text-decoration: none;
    }

footer a {
    color: #fff;
}

dl a {
    color: #000;
    text-decoration: none;
}

    dl a:hover {
        color: #a35554;
        text-decoration: none;
    }


.product-block:hover .picture-wine {
    -webkit-transition: transform 0.4s;
    -o-transition: transform 0.4s;
    transition: transform 0.4s;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
}

.product-block:hover .picture-color {
    -webkit-transition: transform 0.4s;
    -o-transition: transform 0.4s;
    transition: transform 0.4s;
    z-index: 0;
}

.product-block:hover .picture-nocolor {
    -webkit-transition: transform 0.4s;
    -o-transition: transform 0.4s;
    transition: transform 0.4s;
    z-index: -1;
}



.product-block {
    position: relative;
    width: 350px;
    margin: 0;
    margin-right: 20px;
}

    .product-block .product-img {
        margin: 0 auto;
        height: 400px;
    }

.product-img .picture-wine {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 55px;
    height: 350px;
}

.picture-color {
    width: 350px;
    position: absolute;
    z-index: -1;
}

.picture-nocolor {
    width: 350px;
    position: absolute;
    z-index: 0;
}

.product-block .product-intro {
    width: 300px;
    text-align: center;
    margin: 0 auto;
}
