body {
    font-family: 'Adobe Garamond Pro';
    font-size: 14px;
}

.pay-main .container {
    display: flex;
}

.pay-main-left {
    flex-direction: column;
    width: 52%;
    padding-right: 6%;
    float: left;
}

.pay-main h2 {
    font-size: 1.48em;
    line-height: 1.19;
    font-weight: normal;
    text-align: left;
    padding-left: 7.2px;
}

.form-group {
    font-size: 1.2em;
    padding: 0.42857em;
    float: left;
    width: 100%;
}

.group-half {
    width: 50%;
}

label {
    position: absolute;
    color: #737373;
    font-size: 1.2rem;
}

.form-check {
    white-space: nowrap;
}

.form-group .form-check-input {
    border-color: lightgray;
    width: 18px;
    height: 18px;
}

.pay-main-right {
    border: 1px solid #e2e2e2;
}