<div class="sidebar" data-color="white" data-active-color="danger">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
    <div class="logo">
        <a href="/Wine/Index" class="simple-text logo-mini">
            <div class="logo-image-small">
                <img src="~/Assets/img/img_dashboard/admin.jpg">
            </div>
        </a>
        <a href="/Wine/Index" class="simple-text logo-normal">
            <i class="nc-icon nc-planet"></i> NASA
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="active" id="dashboard">
                <a href="/Admin/Index">
                    <i class="nc-icon nc-bank"></i>
                    <!-- <i class="fas fa-tachometer-alt"></i> -->
                    <p>Dashboard</p>
                </a>
            </li>
            <li id="products">
                <a href="/Admin/Product">
                    <i class="fas fa-wine-bottle"></i>
                    <p>Products</p>
                </a>
            </li>
            <li id="orders">
                <a href="/Admin/Order">
                    <i class="nc-icon nc-tile-56"></i>
                    <p>Orders</p>
                </a>
            </li>
            <li id="customers">
                <a href="/Admin/Customer">
                    <i class="nc-icon nc-single-02"></i>
                    <p>Customers</p>
                </a>
            </li>
            <li id="messages">
                <a href="/Admin/Messages">
                    <i class="nc-icon nc-email-85"></i>
                    <p>Messages</p>
                </a>
            </li>
            <li class="active-pro" id="backMain">
                <a href="/Wine/Index">
                    <i class="nc-icon nc-spaceship"></i>
                    <p>Back to NASA</p>
                </a>
            </li>
        </ul>
    </div>
</div>

