<tr>
    <!-- <td colspan="8" class="Detail-table-row">您的清單內目前沒有任何商品</td> -->
    <td class="Detail-table-title">1</td>
    <td class="product-name">
        <img src="~/Assets/img_ShoppingCart/000000000001.jpg" alt="商品">
        <a href="#">
            000000000001 2014 Chateau Mars Winery Verdinho Yamanashi
            <br>火星酒莊甲州白酒
        </a>
    </td>
    <td class="Detail-table-title">2014</td>
    <td class="Detail-table-title">日本</td>
    <td class="Detail-table-title">1,100</td>
    <td class="Detail-table-title">
        <select class="custom-select" id="inputGroupSelect01">
            <option selected>1</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </td>
    <td class="Detail-table-title">1,100</td>
    <td class="Detail-table-title">
        <i class="far fa-trash-alt"></i>
    </td>
</tr>